html{
	background-color: #FFFFFF;
	font-size: 12px;
}
body{
	background-color: #FFFFFF;
}
h1{
	font-size: 3em;
}
h2{
	font-size: 2em;
}
h3{
	font-size: 1.5em;
}
h4{
	font-size: 1.25em;
}
h5{
	font-size: 1em;
}
h6{
	font-size: 1em;
	font-weight: bold;
}
h1, h2, h3, h4, h5{
	font-weight: bold;
	text-transform: uppercase;
}
p, dd, dt, li{
	margin-bottom: 0.5em;
	font-family: Verdana, sans-serif;
}
h1, h2, h3, h4, h5, h6{
	margin-top: 1em;
	font-family: 'Lato', sans-serif;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child{
	margin-top: 0;
}
ul:last-child,
ol:last-child,
dl.last-child{
	bottom-top: 0;
}
h1, h2, h3, h4, h5, h6, p, li, dd, dt{
	line-height: 1.4em;
}
*.sub{
	font-size: 0.5em;
	vertical-align: sub;
}
*.super{
	font-size: 0.5em;
	vertical-align: super;
}
*.center{
	text-align: center;
}
*.sem-recuo{
	padding-left: 0;
}