@import "base.css";

html{
	font-size: 1.75vh;
}
body div[role=header]{
	height: 50%;
}
body.home{
	background-color: #880000;
	background-image: url('../img/capa-peb.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	font-size: 0.8rem;
}
body.home a{
	color: #FFFFFF;
}
body.home div[role=content]{
	height: 30%;
}
body.home div[role=footer]{
	height: 20%;
}
body.home div[role=content] div.panel{
	background-color: #EE0000;
	border: none;
}
body.home div[role=content] div.panel{
	padding-left: 0;
	padding-right: 0;
}
body.home div[role=content] div.panel h3,
body.home div[role=content] div.panel h2{
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;
}
body.home div[role=content] div.panel h2{
	font-size: 2em;
}
body.home div[role=content] div.panel h3{
	text-transform: none;
	font-size: 1.25em;
}
body.home a.link-seta:not(.voltar):after{
	background-image: url('../img/link-seta.png');
	margin-left: -0.5em;
}
body.home div[role=content] div.panel,
body:not(.home) div[role=content]{
	/*rotate*/
		-moz-transform: rotate(355deg);
		-webkit-transform: rotate(355deg);
		-webkit-backface-visibility: hidden;
		-o-transform: rotate(355deg);
		-ms-transform: rotate(355deg);
		transform: rotate(355deg);
	/*rotate*/
}
body:not(.home){
	background-color: #880000;
	box-shadow: 0px 0px 5px #880000;
	max-width: 95vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.5vh;
	padding: 5vh;
}
body:not(.home) div[role=header]{
	height: 2vh;
	min-height: 1.2em;
}
body:not(.home) div[role=content]{
	height: 85vh;
	background-color: #880000;
}
body:not(.home) div[role=footer] img{
	margin-top: -2vh;
}
body:not(.home) div[role=content] > *:not(.meses):not(#banner-dir),
#banner-dir img{
	/*unrotate*/
		-moz-transform: rotate(5deg);
		-webkit-transform: rotate(5deg);
		-webkit-backface-visibility: hidden;
		-o-transform: rotate(5deg);
		-ms-transform: rotate(5deg);
		transform: rotate(5deg);
	/*unrotate*/
	z-index: 5;
}
body:not(.home):not(.mes):not(.basico) div[role=content] > div.row:first-child > div.column:last-child,
body:not(.home):not(.mes):not(.basico) div[role=content] > div.row:first-child > div.columns:last-child{
	margin-top: -7.5em;
}
body:not(.home) div[role=content]{
	padding: 5rem 2rem 0;
	background-color: #FFFFFF;
}
body:not(.home) div[role=content-header] h3{
	position: relative;
	z-index: 10;
}
body:not(.home) div[role=content-header] div.img-sup-dir img{
	position: relative;
	bottom: 7.5em;
	left: 5rem;
	margin-bottom: -10rem;
	z-index: 0;
	max-height: 15rem;
	max-width: 25rem;
}
body:not(.home) div[role=content-header] div.img-sup-esq img {
	position: relative;
	bottom: 7.5em;
	right: 5rem;
	margin-bottom: -10rem;
	z-index: 0;
	max-height: 15rem;
	max-width: 15rem;
}
body:not(.home) div[role=content-header] div.img-sup-dir + div h2,
body:not(.home) div[role=content-header] div.img-sup-dir + div h3{
	background-color: #FFFFFF;
}
body:not(.home) div[role=content-header] img{
	position: relative;
	z-index: 5;
}
body:not(.home) div[role=content-header]{
	vertical-align: middle;	
}
body.calendario div[role=content] div.row > div:nth-child(1) div.panel.mes{
	background-color: #888888;
}
body.calendario div[role=content] div.row > div:nth-child(2) div.panel.mes{
	background-color: #EE1122;
}
body.calendario div[role=content] div.row > div:nth-child(3) div.panel.mes{
	background-color: #CC1111;
}
body.calendario div[role=content] div.row > div:nth-child(4) div.panel.mes{
	background-color: #AAAAAA;
}
body.calendario div[role=content] div.row > div:nth-child(5) div.panel.mes{
	background-color: #AA1111;
}
body.calendario div[role=content] div.row > div:nth-child(6) div.panel.mes{
	background-color: #555555;
}
body.calendario div[role=content] div.row > div:nth-child(7) div.panel.mes{
	background-color: #DD2222;
}
body.calendario div[role=content] div.row > div:nth-child(8) div.panel.mes{
	background-color: #880000;
}
body.calendario div[role=content] div.row > div:nth-child(9) div.panel.mes{
	background-color: #EE2222;
}
body.calendario div[role=content] div.row > div:nth-child(10) div.panel.mes{
	background-color: #888888;
}
body.calendario div[role=content] div.row > div:nth-child(11) div.panel.mes{
	background-color: #555555;
}
body.calendario div[role=content] div.row > div:nth-child(12) div.panel.mes{
	background-color: #DD2222;
}
body.calendario div[role=content] div.panel.mes{
	height: 95%;
	border: 0;
}
body.calendario div[role=content] div.panel h5{
	font-size: 1em;
	font-weight: bold;
}
body.calendario div[role=content] div.panel h6{
	font-weight: bold;
}
body.mes div[role=content-header] div.img-sup-esq + div h2{
	margin-left: -4em;
}
body.mes div[role=content-header] span.mes{
	text-transform: none;
	font-weight: 900;
}
body.mes div[role=content-header] span.mes:after{
	content: " |";
	font-weight: 900;
}
body.dicas div[role=content]{
	overflow: hidden;
}
body.dicas div[role=content] ul,
body.dicas div[role=content] ol,
body.dicas div[role=content] dl,
body.dicas div[role=content] div{
	font-family: sans-serif;
	font-size: 1rem;
}
body.dicas div[role=content] li{
	font-family: sans-serif;
	font-size: 1.1em;
}
body.dicas div[role=content-header] h2 {
	position: relative;
	margin-right: -20em;
}
body.dicas li.accordion-navigation a{
	background-color: #FFFFFF;
	color: #EE0000;
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
}
body.uso div[role=content]{
	background-image: url('../img/fundo-uso.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
body.sumario div[role=content]{
	background-image: url('../img/fundo-sumario.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
body.sumario div.box.vermelho li{
	list-style-type: none;
	font-size: 1.25em;
}
div#banner-dir{
	position: absolute;
	overflow: hidden;
	margin: -20vh -5vw 0 0;
	width: 75vw;
	max-height: 150vh;
}
div#banner-dir img{
	max-height: 125vh;
	margin-top: -15vh;
	margin-left: -12.5vw;
}
div.meses > div{
	padding-left: 0em;
	padding-right: 0.5em;
	height: 20vh;
}
div.meses{
	height: 95%;
	margin-bottom: 0.5em;
	/*unrotate skew*/
		-moz-transform: rotate(5deg)  skewX(5deg);
		-webkit-transform: rotate(5deg) skewX(5deg);
		-webkit-backface-visibility: hidden;
		-o-transform: rotate(5deg) skewX(5deg);
		-ms-transform: rotate(5deg)  skewX(5deg);
		transform: rotate(5deg)  skewX(5deg);
	/*unrotate skew*/
	}
div.meses > *{
	/*unskew*/
	-moz-transform: skewX(-5deg);
	-webkit-transform: skewX(-5deg);
	-o-transform: skewX(-5deg);
	-ms-transform: skewX(-5deg);
	transform: skewX(-5deg);
	/*unskew*/
}
div.panel.mes h3,
div.panel.mes h6,
div.panel.mes p {
	color: #FFFFFF;
}
div.detalhe.rodape{
	display: block;
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
}
div.detalhe.rodape.direita{
	height: 15vh;
	width: 15vh;
	left: 7.5vh;
	top: -7.5vh;
	margin-right: 0.5em;
}
div.detalhe.rodape.esquerda{
	height: 15vh;
	width: 15vh;
	left: -7.5vh;
	margin-left: 0.5em;
}
div[role=footer] img {
	max-height: 100%;
}
div[role=content] h3 img{
	max-width: 50%;
}
div.panel.cantoneiras {
	border: dotted #EE0000 10px;
	border-image-source: url('../img/cantoneiras-bordas.png');
	border-image-slice: 100;
	border-image-width: 5;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
div.panel.cantoneiras > *:last-child{
	margin-bottom: 0.5em;
}
div.panel.cantoneiras > *:nth-child(1){
	margin-top: 0.5em;
}
div.box{
	overflow: hidden;
}
div.box.ilustrado{
	overflow: visible;
}
div.box + div.box {
	margin-top: 5px;
	margin-left: 5px;
}
div.panel{
	border:none;
	background-color: #FFFFFF;
}
div.panel h1,
div.panel h2,
div.panel h3,
div.panel h4,
div.panel h5,
div.panel h6{
	color: #EE0000;
	text-shadow: none;
}
div.transparente{
	background-color: transparent;
}
div.cinza{
	background-color: #E7E7E7;
}
div.chumbo{
	background-color: #666666;
}
div.vermelho{
	background-color: #880000;
	color: #FFFFFF;
}
div.vermelho.claro{
	background-color: #EE0000;
}
div.vermelho p, div.chumbo p,
div.vermelho li, div.chumbo li,
div.vermelho h1, div.chumbo h1,
div.vermelho h2, div.chumbo h2,
div.vermelho h3, div.chumbo h3,
div.vermelho h4, div.chumbo h4,
div.vermelho h5, div.chumbo h5,
div.vermelho h6, div.chumbo h6,
div.vermelho h1 a, div.chumbo h1 a,
div.vermelho h2 a, div.chumbo h2 a,
div.vermelho h3 a, div.chumbo h3 a,
div.vermelho h4 a, div.chumbo h4 a,
div.vermelho h5 a, div.chumbo h5 a,
div.vermelho h6 a, div.chumbo h6 a{
	color: #FFFFFF;
	text-shadow: none;
}
div.dica{
	background-color: #EEAA22;
}
div.dica h4{
	color: #FFFFFF;
	text-transform: none;
	font-size: 2em;
	font-weight: 900;
}
img.meia-altura.borda-inf{
	margin-bottom: -50%;
	margin-top: -10%;
}
img.img-sup-dir{
	position: relative;
	float: right;
	width: 15em;
	top: -3.75em;
	margin-right: -7.5em;
}
img.detalhe.rodape{
	display: block;
	height:7em;
	margin-top:0.6em;
	margin-left:auto;
	margin-right: auto;
	margin-bottom: -4em;
}
a.link-seta:not(.manter-texto){
	width: 0;
	color: transparent;
	margin: 0 -1em;
}
a.link-seta:not(.voltar):after,
a.link-seta.voltar:before{
	display: inline-block;
	height: 1em;
	width: 1em;
	color: transparent;
	background-size: 100%;
	background-repeat: no-repeat;
	content: "";
}
a.link-seta:not(.voltar):after{
	background-image: url('../img/link-seta.png');
}
a.link-seta.voltar:before{
	background-image: url('../img/link-seta-voltar.png');
}
a.link-livro,
a.link-contacao,
a.link-debate{
	font-weight: bold;
}
a.link-livro:before{
	color: transparent;
	background-image: url('../img/icone-livro.png');
	background-size: 100%;
	background-repeat: no-repeat;
	content: "___";
}
a.link-contacao:before{
	color: transparent;
	background-image: url('../img/icone-contacao.png');
	background-size: 100%;
	background-repeat: no-repeat;
	content: "___";
}
a.link-debate:before{
	color: transparent;
	background-image: url('../img/icone-debate.png');
	background-size: 100%;
	background-repeat: no-repeat;
	content: "___";
}
div.centralizar{
	text-align: center;
	padding: 10%;
	margin: auto;
}
div.panel.vermelho h3 a{
	color: #FFFFFF !important;
	margin: 0;
}
div.panel.vermelho h3 a{
	color: inherit !important;
	margin: 0;
}
div.perfil img {
	width: 50%;
	position: relative;
	left: -1.25rem;
	top: -1.25rem;
	float: left;
	margin-right: -0.5em;
	margin-bottom: -0.5rem;
}
div#content-esq{
	margin-top: -1em;
}
*.tarja-branca{
	background-color: #FFFFFF;
}